:root {
    --primary-color:#A5CCCC;
    --secondary-color:#546C8C;
    --tertiary-color:#4B4F4C;
}
 * {
    margin: 0;
}

body {
    font-family: 'Helvetica';
}
header {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    padding: 10px 40px 10px 0px;
    position:relative;
    justify-content: space-between;
    font-family: 'Helvetica';
}
header h1 {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 10px 0px 10px 50px;
    font-size: xx-large;

}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    padding: 15px;
    color: var(--primary-color);
    font-size: 30px;
}
.nav-bar {
    border-bottom: 5px solid;
    border-color: var(--primary-color);
}
.hero {
    background-image: url("./images/02-hero-bg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}
.hero h2 {  
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    margin-bottom:25px ;
    margin-right: 40px;
    padding: 10px;
}
.border {
    border-right: 5px solid; 
    border-color: var(--secondary-color);
    text-align: right;
}
/* about me section begins*/
.about-me {
    display:flex;
    margin: 25px 20px 10px 20px;
}
.about-me div h2 {
    margin: 5px 5px 20px 20px;
    padding: 10px 10px 90px 10px;
    color: var(--secondary-color);
    font-size: xx-large;
}
.about-me div p {
    padding: 5px 60px 40px 20px;
    margin: 5px 20px 20px 30px;
    color: var(--secondary-color);
}
/*about me section ends*/
/* work section begins */
.work {
    display: flex;
    margin: 25px 20px 10px 20px;
    font-family: 'Helvetica';
}
.work div h2 {
    margin: 5px 19px 20px 20px;
    padding: 10px 10px 90px 10px;
    color: var(--secondary-color);
    font-size: xx-large;
}
.projects-flex {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.first-container {
    background-image: url(./images/2021-02-12\ at\ 1.23\ PM.png);
    background-size: cover;
    min-height: 40vh;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: auto;
    border: 5px solid;
    border-color: var(--primary-color);
}
.button {
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    background: var(--secondary-color);
  }
.button a {
    display: flex;
    align-items: flex-end;
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  .first-container:hover .button {
    opacity: 1;
  }
.flex-flow {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    margin-bottom:25px ;
    margin-right: 40px;
    padding: 10px;
    padding: 10px 50px 10px 0px;
}
.second-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.project-img2,
.project-img3,
.project-img4,
.project-img5 {
    display: flex;
    width: 35%;
    min-height: 15vh;
    justify-content: flex-start;
    align-items: flex-end;
}
.project-img2 {
    background-image: url(./images/02-portfolio-1.jpg);
    border: 5px solid;
    border-color: var(--primary-color);
    margin: 20px 20px 10px auto;
    background-position: center;
    background-size: cover;
}
.project-img3 {
    background-image: url(./images/02-portfolio-2.jpg);
    border: 5px solid;
    border-color: var(--primary-color);
    margin: 20px auto 10px 20px;
    background-position: center;
    background-size: cover;
}
.project-img4 {
    background-image: url(./images/02-portfolio-3.jpg);
    border: 5px solid;
    border-color: var(--primary-color);
    margin: 20px 20px 10px auto;
    background-position: center;
    background-size: cover;
}
.project-img5 {
    background-image: url(./images/02-portfolio-4.jpg);
    border: 5px solid;
    border-color: var(--primary-color);
    margin: 20px auto 10px 20px;
    background-position: center;
    background-size: cover;
}
.project-img2:hover,
.project-img3:hover,
.project-img4:hover,
.project-img5:hover,
.first-container:hover {
    opacity: .5;
}
.project-img2:hover .button,
.project-img3:hover .button,
.project-img4:hover .button,
.project-img5:hover .button {
    opacity: 1;
}
/*work section ends*/
.contact-me div h2 {
    margin: 5px 20px 20px 0px;
    padding: 10px 10px 90px 10px;
    color: var(--secondary-color);
    font-size: xx-large;
}
.contact-me {
    display: flex;
    margin: 25px 20px 10px 20px;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    line-height: 1.7;
    font-size: x-large;
    text-align: justify;
    width: 75%;
}

@media screen and  (max-width:575px){
    .first-container {
        min-height: 30vh;
    }

    .contact-info {
        font-size: medium;
    }
    header nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }
    .hero {
        display: flex;
        justify-content: center;    
    }
    .button a {
    display: flex;
    align-items: flex-end;
    z-index: 1;
    padding: 0;
    width: auto;
    text-align: center;
    color: white;
    border: solid 2px white;
    }
}
@media screen and  (max-width:768px){
    .button a {
    display: flex;
    align-items: flex-end;
    z-index: 1;
    padding: 0;
    width: auto;
    text-align: center;
    color: white;
    border: solid 2px white;
    }
    .contact-info {
        font-size: medium;
    }
}